.mb-container {
  position: relative;
  width: 100%;
  background-color: #f7fbfe;
  >.mb-head,
  >.mb-aside {
    position: fixed;
    top: 0;
    left: 0;
  }
  >.mb-head {
    width: 100%;
    height: rem(60);
    background-color: rgba(#fff, .9);
    z-index: 10;
    padding-left: rem(240);
    box-shadow: 0 5px 25px 0 rgba(123, 123, 123, .15);
    transition: padding-left .2s;
  }
  >.mb-aside {
    overflow: hidden;
    height: 100%;
    background-color: #263238;
    width: rem(240);
    z-index: 11;
    transform: translate3d(0, 0, 0);
    transition: transform .2s;
  }
  >.mb-body {
    padding: rem(60 0 0 240);
  }
  &.nav-min {
    >.mb-head {
      padding-left: 0;
    }
    >.mb-aside {
      transform: translate3d(rem(-240), 0, 0);
    }
  }
}

.mb-aside {
  display: flex;
  flex-flow: column;
  user-select: none;
  >.mb-logo {
    height: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 rgba(#191f23, .75), 0 2px 0 rgba(#fff, .05);
    >img {
      height: 3rem;
    }
  }
  >.mb-nav {
    flex: 1 1 auto;
    overflow-y: auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      ul {
        background-color: rgba(#191f23, .5);
        box-shadow: 0 1px 0 rgba(#191f23, .75), 0 2px 0 rgba(#fff, .05);
      }
    }
    li {
      a {
        display: block;
        text-decoration: none;
        color: #9e9e9e;
        &:hover,
        &:active,
        &.active {
          background-color: rgba(#191f23, .35);
          transition: all .2s;
          color: #fff;
        }
        &.active {
          background-color: $color-primary;
        }
        .nav-label {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .nav-link {
      line-height: 2rem;
      padding: .5rem 1rem;
      font-size: 0;
      [class*="mo-icon"] {
        font-size: 1.5rem;
        vertical-align: middle;
        margin-right: 1rem;
      }
      .nav-label {
        font-size: 1rem;
      }
      &.active {
        border-left-color: $color-primary;
      }
    }
    .nav-link-child {
      line-height: 1.5rem;
      padding: .5rem 1rem .5rem 3.6rem;
      color: #7e7e7e;
      &.active {
        background-color: rgba(#191f23, .35);
      }
    }
  }
}

.mb-head {
  .mb-head-toggle {
    display: flex;
    width: rem(60);
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $color-text;
    user-select: none;
    &:hover,
    &:active {
      transition: all .2s;
      color: $color-title;
      background-color: $color-lighter;
    }
  }
}

.mb-viewport {}